name: "Issue: New"

on:
  issues:
    types: [opened]

jobs:
########          
## Check if the issue should be transfered to another repo
########
  transfer_issue:


    name: Tranfser issue
    if: ${{ !github.event.issue.locked && github.event.issue.state != 'closed' }}
    runs-on: ubuntu-latest
    steps:
    - name: Match body
      id: match
      uses: ChristofferDahlen/Multi-Regex-Match@v1.0
      with:
        input: "${{ github.event.issue.body }}"
        json_match: '{ 
          "(?i)#\\s*Product[^\\r\\n]*POMA\\b" : "labelOnPRReview",
          "(?i)#\\s*Product[^\\r\\n]*Gateway\\b" : "testRepo",
          "(?i)#\\s*Product[^\\r\\n]*POM\\b" : "testRepo",
          "(?i)#\\s*Product[^\\r\\n]*POH\\b" : "testRepo",
          "(?i)#\\s*Product[^\\r\\n]*Spotbid\\b" : "false",
          "(?i)#\\s*Product[^\\r\\n]*(Connecting[^\\w\\r\\n]+)?Shop\\b" : "testRepo",
          "(?i)#\\s*Product[^\\r\\n]*Prodrisk\\b" : "testRepo",
          "(?i)#\\s*Product[^\\r\\n]*(Optimal[^\\w\\r\\n]+)?log\\b" : "testRepo"
        }'
    - run: |
          if [[ "${{github.repository_owner}}/${{ steps.match.outputs.result }}" == "${{ github.repository }}" ||  "${{ steps.match.outputs.result }}" == "" || "${{ steps.match.outputs.result }}" == "false"  ]]
          then
            echo ::set-output name=remain::true
          else
            echo ::set-output name=remain::false
          fi
      shell: bash
      name: Check if we should move from ${{ github.repository }} to ${{ steps.match.outputs.result }}
      id: state

    - name: Transfer Issue & Comment
      if: steps.state.outputs.remain == 'false'
      uses: christofferDahlen/transfer-issue-action@v3
      with:
        target_repo: ${{ steps.match.outputs.result }}
        token: '${{ secrets.OPT_GH_TOKEN }}'
        debug: true
        create_stub: true
    outputs:
      remain: ${{ steps.state.outputs.remain }}

########
## Check if the title is correct 
########

  check_title:
    name: Check Empty title
    needs: transfer_issue
    if: needs.transfer_issue.outputs.remain == 'true' 
    runs-on: ubuntu-latest
    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ github.event.issue.title }}
          regex: '^(\[[^\]]*\]:?\s?(title)?)?$'
          flags: gm
      - uses: actions-ecosystem/action-create-comment@v1
        if: ${{ steps.regex-match.outputs.match != '' }}
        with:
          github_token: ${{ secrets.github_token }}
          body: |
            Seems like you have forgotten to fill out the title of issue. Please fill it in properly.

            If this is wrong just ignore this comment

########
## Adding other labels
########
  Add_Other_Labels:
    name: Add unsynced labels
    needs: transfer_issue
    if: needs.transfer_issue.outputs.remain == 'true'
    runs-on: ubuntu-latest
    steps:
    - name: Add_Other_Labels
      id: labeler
      uses: jimschubert/labeler-action@v1
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

########
## Add the sync labels
########

  Add_Synced_Labels:
    name: Add synced labels
    needs: transfer_issue
    if: needs.transfer_issue.outputs.remain == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout
      - uses: Resnovas/label-mastermind@2.1.3
        name: Labeling
        with:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN  }}'

########
## Add issue to the appropriate 
########

  Add_To_Project:
    name: Add to project
    needs: transfer_issue
    if: needs.transfer_issue.outputs.remain == 'true' 
    runs-on: ubuntu-latest
    steps: 
      - uses: octokit/request-action@v2.x
        id: get_latest_release
        with:
          route: GET /repos/{owner}/{repo}/issues/$${{ github.event.issue.number}}
          owner: $${{ github.event.issue.repository.owner.login }}
          repo: $${{ github.event.issue.repository.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.OPT_GH_TOKEN }}

    - name: Get Product Name
      run: |
        echo "::set-output name=name::$(echo "${{ fromJson(steps.create_check_run.outputs.data).body }}" | grep -oe 'Product: .*' | tr '[:upper:]' '[:lower:]')"
      id: product

    - uses: alex-page/github-project-automation-plus@v0.8.1
      if: ${{ contains( steps.product.outputs.name, 'shop' ) }}
      with:
        project: Connecting Shop Board 
        column: Triage
        repo-token: '${{ secrets.OPT_GH_TOKEN }}'

    - uses: alex-page/github-project-automation-plus@v0.8.1
      if: ${{ !contains( steps.product.outputs.name, 'shop' ) }}
      with:
        project: Optimisation Core Board
        column: Triage
        repo-token: '${{ secrets.OPT_GH_TOKEN }}'



