name: "PR: New"

on:
  pull_request:
    types: [opened]

jobs:
  Handle_Synced_Labels:
    runs-on: ubuntu-latest
    name: Add Synced Labels
    steps:
      - uses: actions/checkout@v2
        name: Checkout
      - uses: Resnovas/label-mastermind@2.1.3
        name: Labeling
        with:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN  }}'
  Add_Other_Labels:
    runs-on: ubuntu-latest
    steps:
    - name: Add_Other_Labels
      id: labeler
      uses: jimschubert/labeler-action@v1
      with:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  Add_To_Project:
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "::set-output name=branch::$(echo ${{ github.event.pull_request.head.ref }} | tr '[:upper:]' '[:lower:]')"
        id: extract_branch
      - uses: alex-page/github-project-automation-plus@v0.8.1
        if: ${{ contains(steps.extract_branch.outputs.branch, 'shop' ) }}
        with:
          project: Connecting Shop Board
          column: Pull Requests
          repo-token: '${{ secrets.OPT_GH_TOKEN }}'

      - uses: alex-page/github-project-automation-plus@v0.8.1
        if: ${{ !contains(steps.extract_branch.outputs.branch, 'shop' ) }}
        with:
          project: Optimisation Core Board
          column: Pull Requests
          repo-token: '${{ secrets.OPT_GH_TOKEN }}'
